.productDetailsContainer {
  display: flex;
  gap: 20px;
}

.productImageSection {
  width: 40%;
}

.mainImage {
  width: 500px;
  height: 500px;
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
  margin-top: 20px;
  margin-left: 15px !important;
  border-radius: 10px;
}

.thumbnailGallery {
  width: 130px;
  height: 130px;
  display: flex;
  margin-left: 15px;
  gap: 40px;
  border-radius: 10px;
}

.thumbnail img {
  width: 60px;
  height: 60px;
  border: 1px solid #ddd;
}

.productInfoSection {
  width: 140%;
  background: white;
  margin-top: 20px;
  padding: 20px;
  margin-left: 10%;
  border-radius: 10px;
}

.productPrice {
  color: blue;
  font-size: 1.5em;
  margin: 10px 0;
}

.aboutProduct h4 {
  margin-left: 0;
}

.additionalInfo h4 {
  margin-left: 0;
}

.productStatsSection {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.stockInfo,
.salesInfo {
  text-align: center;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  width: 230px;
  height: 124px;
  font-size: 12px;
}

.stockInfo p,
.salesInfo p {
  margin: 40px 0;
  font-size: 20px;
  font-weight: 800;
}

/* Media Query for Tablets */
@media (min-width: 481px) and (max-width: 768px) {
  .productDetailsContainer{
    flex-direction: column !important;
  }

  .productImageSection{
    width: 100%;
    margin-left: 4.5% !important;
  }

  .mainImage {
    width: 110% !important; ;
    height: auto !important;;
  }

  .thumbnail{
    width: 100% !important;
    height: auto;
    margin-left: 12% !important;
  }
  
  .thumbnailGallery {
    width: 80px;
    height: 80px;
    margin-left: 27% !important;
  }

  .productInfoSection {
    width: 125% !important;
    margin-left: 0;
    padding: 20px;
    margin-top: 20px;
  }

  .productStatsSection{
    width: 100%;
    margin-left: 12%;
  }

  .aboutProduct h4 {
    margin-left: 0;
    font-size: 24px !important;
    font-weight: 700;
  }

  .aboutProduct p{
    font-size: 22px!important;
  }
  
  .additionalInfo h4 {
    margin-left: 0;
    font-size: 24px !important;
    font-weight: 700;
  }
  
  .additionalInfo p{
    font-size: 22px !important;
  }
}

/* Media Query for Mobile Devices */
@media (max-width: 480px) {
  .productDetailsContainer{
    flex-direction: column;
  }

  .productImageSection{
    width: 100%;
    margin-left: 2% !important;
  }

  .mainImage {
    width: 110% !important; ;
    height: 350px;
  }

  .thumbnail{
    width: 100% !important;
    height: auto;
  }

  .thumbnailGallery {
    margin-top: 3%;
    width: 60px !important;
    height: 60px !important;
    margin-left: 19% !important;
  }
  
  .productInfoSection {
    width: 125% !important;
    margin-left: 0;
    padding: 20px;
    margin-top: 20px;
  }

  .productStatsSection{
    width: 100%;
    margin-left: 12%;
  }

  .aboutProduct h4 {
    margin-left: 0;
    font-size: 18px !important;
    font-weight: 700;
  }
  
  .additionalInfo h4 {
    margin-left: 0;
    font-size: 18px !important;
    font-weight: 700;
  } 
}

@media (min-width: 320px) and (max-width: 479px) {
  .productDetailsContainer {
    flex-direction: column;
  }

  .productImageSection{
    margin-left: -9%;
  }

  .mainImage {
    width: 322%;
    height: 100%;
  }
  .thumbnail{
    width: 100% !important;
    height: auto !important;
  }
  
  .thumbnailGallery {
    margin-top: 3%;
    width: 60px !important;
    height: 60px !important;
    margin-left: -2% !important;
  }

  .productInfoSection {
    width: 125%;
    margin-left: 0;
    padding: 20px;
    margin-top: 20px;
  }

  .productStatsSection {
    width: 100%;
  }

  .stockInfo p{
    font-size: 14px !important;
  }

  .salesInfo p{
    font-size: 14px !important;
  }
}

